{% extends 'base.html' %}

{% block content %}
    <section class="flex flex-col bg-gray-100 h-full">
        <form action="/submit" method="post" id="form">
            <div class="flex flex-col flex-wrap md:grid grid-cols-3">
                <fieldset class="flex flex-col m-5 p-5 border border-gray-300 rounded-2xl shadow-xl shadow-gray-900 md:max-w-2xl">
                <legend>Personal information</legend>
                <label class="pt-5" for="fullname">Full name: </label>
                <input type="text" class="border border-blue-700 rounded-md text-center" name="fullname" id="name" required>
                <label class="pt-5"  for="email">Email: </label>
                <input type="email" class="border border-blue-700 rounded-md text-center" name="email" id="email" required>
                <label class="pt-5" for="age">Age: </label>
                <input type="number" class="border border-blue-700 rounded-md text-center" name="age" id="age" required min="5" max="120">
                <label class="pt-5" for="phone">Phone number: </label>
                <input type="text" class="border border-blue-700 rounded-md text-center" name="phone_number" id="phone" required>
            </fieldset>
            <fieldset class="flex flex-col m-5 p-5 border border-gray-300 rounded-2xl shadow-xl shadow-gray-900 md:max-w-2xl" required="">
                <legend class="pt-5" for="">What is your favorite food? </legend>
                <ul class="p-1">
                    <li>
                        <input class="" type="checkbox" name="pizza" id="g">
                        <label>Pizza</label>
                    </li>
                    <li>
                        <input class="" type="checkbox" name="pasta">
                        <label>Pasta</label>
                    </li>
                    <li>
                        <input class="" type="checkbox" name="pap">
                        <label>Pap and Wors</label>
                    </li>
                    <li>
                        <input  class="" type="checkbox" name="other">
                        <label>Other</label>
                    </li>
                </ul>
            </fieldset>
            <fieldset class="flex flex-col m-5 p-5 border border-gray-300 rounded-2xl shadow-xl shadow-gray-900 md:max-w-2xl">
                <div class="p-3">
                    <p class="font-bold">On a scale 1 to 5, with 1 being "strongly agree" and 5 being "strongly disagree."</p>
                </div>
                <div class="p-3">
					<div class="p-3 flex flex-wrap justify-center gap-2">
						<p class="">I like to watch movies</p>
                    </div>
					<div class="p-3 flex flex-wrap justify-center gap-2">
						<div class="flex items-center">
							<input type="radio" id="movie-1" class="hidden peer" name="movie" value="1" required>
							<label for="movie-1" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">1</label>
						</div>
						<div class="flex items-center">
							<input type="radio" id="movie-2" class="hidden peer" name="movie" value="2" required>
							<label for="movie-2" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">2</label>
						</div>
						<div class="flex items-center">
							<input type="radio" id="movie-3" class="hidden peer" name="movie" value="3" required>
							<label for="movie-3" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">3</label>
						</div>
						<div class="flex items-center">
							<input type="radio" id="movie-4" class="hidden peer" name="movie" value="4" required>
							<label for="movie-4" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">4</label>
						</div>
						<div class="flex items-center">
							<input type="radio" id="movie-5" class="hidden peer" name="movie" value="5" required>
							<label for="movie-5" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">5</label>
						</div>
                    </div>
                    <div class="p-3 flex flex-wrap justify-center gap-2">
                        <p class="">I like to listen to radio</p>
                    </div>
					<div class="p-3 flex flex-wrap justify-center gap-2">
                        <div class="flex items-center">
                            <input type="radio" id="radio-1" class="hidden peer"  name="radio" value="1" required>
						    <label for="radio-1" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">1</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="radio-2" class="hidden peer" name="radio" value="2" required>
						    <label for="radio-2" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">2</label>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" id="radio-3" class="hidden peer" name="radio" value="3" required>
						    <label for="radio-3" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">3</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="radio-4" class="hidden peer"  name="radio" value="4" required>
						    <label for="radio-4" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">4</label>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" id="radio-5" class="hidden peer"  name="radio" value="5" required>
						    <label for="radio-5" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">5</label>
                        </div>
                    </div>
					<div class="p-3 flex flex-wrap justify-center gap-2">
							<p class="">I like to eat out</p>
                    </div>
					<div class="p-3 flex flex-wrap justify-center gap-2">
                        <div class="flex items-center">
                            <input type="radio" id="eat-1" class="hidden peer" name="eat" value="1" required>
						    <label for="eat-1" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">1</label>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" id="eat-2" class="hidden peer" name="eat" value="2" required>
						    <label for="eat-2" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">2</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="eat-3" class="hidden peer" name="eat" value="3" required>
						    <label for="eat-3" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">3</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="eat-4" class="hidden peer" name="eat" value="4" required>
						    <label for="eat-4" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">4</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="eat-5" class="hidden peer" name="eat" value="5" required>
						    <label for="eat-5" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">5</label>
                        </div>
                    </div>

					<div class="p-3 flex flex-wrap justify-center gap-2">
						<p class="">I like to watch TV</p>
                    </div>
					<div class="p-3 flex flex-wrap justify-center gap-2">
                        <div class="flex items-center">
                            <input type="radio" id="tv-1" class="hidden peer" name="tv" value="1" required>
						    <label for="tv-1" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">1</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="tv-2" class="hidden peer" name="tv" value="2" required>
						    <label for="tv-2" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">2</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="tv-3" class="hidden peer" name="tv" value="3" required>
						    <label for="tv-3" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">3</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="tv-4" class="hidden peer" name="tv" value="4" required>
						    <label for="tv-4" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">4</label>
                        </div>
						<div class="flex items-center">
                            <input type="radio" id="tv-5" class="hidden peer" name="tv" value="5" required>
						    <label for="tv-5" class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-200 to-blue-300 rounded-2xl border border-gray-200 shadow-2xl shadow-gray-900 peer-checked:bg-blue-900 peer-checked:text-white peer-checked:border-blue-700">5</label>
                        </div>		
                    </div>
				</div>
            </fieldset>
            </div>
            <div class="flex justify-center p-5">
                <button class="bg-gradient-to-b p-1 pr-5 pl-5 from-blue-400 to-blue-400 rounded-md border border-gray-200 shadow-2xl shadow-gray-900">
                    Submit
                </button>
            </div>
        </form>
    </section>
{% endblock %}